Welcome to {{ fqdn }} a public shell server and community running in the spirit of <a href="http://tilde.club">tilde.club</a>.  Contact {{ sysop}} for an account. Once you have one you can enjoy shell access, web hosting and getting to know people via private email and irc services.  
