Listen 443 https
#Listen 80

SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
SSLSessionCacheTimeout  300
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

<VirtualHost *:443>
  DocumentRoot "/var/www/html"
  ServerName {{ fqdn }}
  ServerAlias www.{{ fqdn }}
  ErrorLog logs/ssl_error_log
  TransferLog logs/ssl_access_log
  LogLevel warn
  SSLEngine on
  SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
  SSLProtocol All -SSLv2 -SSLv3
  {% if letsencrypt %}
  SSLCertificateFile /etc/letsencrypt/live/{{ fqdn }}/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ fqdn }}/privkey.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ fqdn }}/chain.pem
  {% else %}
  SSLCertificateFile /etc/httpd/conf/server.crt
  SSLCertificateKeyFile /etc/httpd/conf/server.key
  {% endif %}
  CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "/var/www/html"
    ServerName {{ fqdn }}
    ServerAlias www.{{ fqdn }}
    ErrorLog "logs/error_log"
    CustomLog "logs/access_log" combined
</VirtualHost>
